parameters:
    level: 8

    paths:
        - assets
        - commands
        - controllers
        - mail
        - models
        - widgets
        - modules/api/controllers
        - services
        - repositories
        - jobs

    excludePaths:
        - vendor
        - tests
        - runtime

    scanDirectories:
        - tests/Support

    bootstrapFiles:
        - tests/_bootstrap.php

    dynamicConstantNames:
        - YII_DEBUG
        - YII_ENV
        - YII_ENV_DEV
        - YII_ENV_PROD
        - YII_ENV_TEST

    ignoreErrors:
        - '#Cannot access property \$(db|user|request|params|session|jwt|queue|security|charset) on yii\\console\\Application\|yii\\web\\Application.*#'
        - identifier: missingType.iterableValue

    tmpDir: %currentWorkingDirectory%/runtime
